<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Safe Condominium
        </title>
        <link rel="shortcut icon" href="/resources/css/assets/icon/edificio (1).png" type="image/x-icon">
        <link rel="stylesheet" href="resources/css/login.css">
    </head>

    <body>
        <div class="fondo"></div>
        <div class="content">
            <form action="auth" method="post">
                <h1 class="title">Safe Condominium</h1>
                <div class="login">
                    <div class="user">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M12,12A6,6,0,1,0,6,6,6.006,6.006,0,0,0,12,12ZM12,2A4,4,0,1,1,8,6,4,4,0,0,1,12,2Z"/><path d="M12,14a9.01,9.01,0,0,0-9,9,1,1,0,0,0,2,0,7,7,0,0,1,14,0,1,1,0,0,0,2,0A9.01,9.01,0,0,0,12,14Z"/></svg> -->
                    </div>
                    <input type="text" placeholder="Usuario" name="user" id="user" autocomplete="off">
                    <input type="password" placeholder="Contraseña" name="pass" id="pass" autocomplete="off">
                    <input type="submit" class="sign" value="Iniciar Sesión">
                    <a href="/registrar" class="link">¿No tienes Cuenta ? Registrate aqui</a>
                    <a href="/recuperar">¿Olvidaste tu contraseña?</a>
                </div>
            </form>
        </div>
    </body>

</html>