<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Condominium
</title>
    <link rel="stylesheet" href="resources/css/recuperar.css">
    </head>
<body>
    <div class="content">
        <div class="salir" onclick="redirect('/')"></div>

        <form action="recover" method="post">
            <div class="login">
                <h3>Ingrese Número de Telefono</h3>
                <input type="tel" placeholder="0416-5610813" name="telefono" id="telefono">

                <h3>Ingrese su Nueva Contraseña</h3>
                <input type="password" placeholder="Contraseña" name="pass" id="pass" minlength="8">
                
                <h3>Repita la Contraseña</h3>
                <input type="password" placeholder="Contraseña" name="repass" id="repass" minlength="8">

                <input type="submit" class="sign" value="Recuperar">
            </div>
        </form>
    </div>
</body>

<script>
    function redirect(page){
        window.location.href = page
    }
</script>
</html>